.movies {
	max-width: 250px;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
.movies-title {
	margin-top: 0px;
	margin-bottom: 0px;
}
.movies-genre {
	margin-top: 5px;
	color: rgb(105, 105, 105);
}
.movies-image {
	width: 100%;
	border-radius: 15px;
}
.movies-stars img {
	width: 30px;
	position: relative;
	margin: auto;
}
