@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Barlow", sans-serif;
	background-image: url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70%;
	height: 100vh;
}
::-webkit-scrollbar {
	display: none;
}

.title {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px black;
	text-align: center;
	margin-top: 20px;
}
.gameplay-div {
	display: flex;
	justify-content: center;
	margin: 30px 0;
	font-weight: bold;
}
.player-title {
	text-shadow: 0 0 10px black;
	color: white;
	text-align: center;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.568);
	padding: 20px;
}
.reset-btn {
	margin-left: 20px;
	padding: 10px;
	border: none;
	color: white;
	border-radius: 5px;
	background-color: rgb(93, 19, 190);
	cursor: pointer;
}
main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(177, 177, 177, 0.192);
	height: 70%;
	max-width: 500px;
	position: relative;
	margin: auto;
}
.game-container {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-auto-rows: minmax(auto, 100px);
	gap: 5px;
	text-align: center;
}
.boxes {
	background-color: rgba(0, 0, 0, 0.774);
	cursor: pointer;
}

.copyright {
	text-align: center;
	margin: 15px;
	color: rgb(202, 202, 202);
}
.copyright a {
	text-decoration: none;

	color: rgb(240, 240, 240);
}
